<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Grider</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="<%= nodeModulesUrl + '/bootstrap/dist/css/bootstrap.min.css'%>" />
        <!-- Custom CSS -->
        <link rel="stylesheet" href="<%= cssUrl + '/main.css'%>"/>
        <!-- Bootstrap Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script>let $ = require('jquery');</script>
        <script>require('popper');</script>
        <script>require('bootstrap');</script>
        <script defer src="render.js"></script>
        
    </head>

    <body>
        <div class="wrapper">
            <%- include(sidebarUrl, {active: 'characters' }) %>
            <% var schar = accounts.charactersDB[accounts.selectedCharacterKey]%>
            <% var breedSpells = dofus2Data.breedSpells[schar.breedId] %>
            <% primSpell = breedSpells[schar.primarySpell] %>
            <div class="bodyRightView">
                <div class="characterProfileContainer">
                    <div class="characterProfileHeader">
                        <img src="<%= accounts.getClassIcon(accounts.selectedCharacterKey) %>" width="200" height="200">
                        <div>
                            <h><%= schar.name %></h>
                            <h2><%= schar.breedName %> lvl <%= schar.level %></h2>
                        </div>
                    </div>
                    <div class="characterProfileSection">
                        <h>General</h>
                        <hr size="8" width="90%" color="red"> 
                        <div class="myform-group">
                            <label>name :</label> 
                            <label><%= schar.name %>
                        </div>
                        <div class="myform-group">
                            <label>breed :</label> 
                            <label><%= schar.breedName %></label>
                        </div>
                        <div class="myform-group">
                            <label>server :</label> 
                            <label><%= schar.serverName %></label>
                        </div>
                        <div class="myform-group">
                            <label>account :</label> 
                            <label><%= schar.accountId %></label>
                        </div>
                    </div>
                    <div class="characterProfileSection">
                        <h>Fight</h>
                        <hr size="8" width="90%" color="red">
                        <div class="myform-group">
                            <label>primary spell : </label>
                            <select id="spellId" value='<%= primSpell ? primSpell.id : "" %>'>
                                <% Object.entries(breedSpells).forEach(([spellId, spell]) => { %>
                                <option value="<%= spellId %>"><%= primSpell ? primSpell.name : "" %></option>
                                <% }) %>
                            </select>
                        </div>
                    </div>
                    <div class="characterProfileSection">
                        <h>Roleplay</h>
                        <hr size="8" width="90%" color="red"> 
                        <div class="myform-group">
                            <label>primary stat : </label>
                            <select id="statId" value='<%= schar.primaryStat ? schar.primaryStat : "" %>'>
                                <% Object.entries(dofus2Data.stats).forEach(([name, id]) => { %>
                                    <option value="<%= id %>"><%= name %></option>
                                <% }) %>
                            </select>
                        </div>
                    </div>
                    <div class="managerBottomButtonsBar">
                        <button class="btn btn-primary" onclick="saveCharacterProfile()">save</button>
                        <button class="btn btn-primary" onclick="cancelCharacterProfileEdit()">cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>