<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8" />
        <title>Grider</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="<%= nodeModulesUrl + '/bootstrap/dist/css/bootstrap.min.css'%>" />
        <!-- Custom CSS -->
        <link rel="stylesheet" href="<%= cssUrl + '/main.css'%>"/>
        <!-- Bootstrap Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script>let $ = require('jquery');</script>
        <script>require('popper');</script>
        <script>require('bootstrap');</script>
        <script defer src="render.js"></script>
    </head>

<body>
    <div class="wrapper">
        <%- include(sidebarUrl, {active: 'charachters' }) %>
        <div class="bodyRightView">
            <ul class="nav nav-tabs" style="background: #262626">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Charachters</a></li>
                <li class="nav-item"><a class="nav-link" aria-current="page" href="<%=accountUrls.manageAccountsUrl%>">Accounts</a></li>
            </ul>
            <table class="table table-dark table-striped" style="margin-bottom: 0;">
                <thead>
                    <th scope="col">Name</th>
                    <th scope="col">Id</th>
                    <th scope="col">serverId</th>
                    <th scope="col">accountId</th>
                    <th scope="col">action</th>
                </thead>
                <tbody>
                    <% Object.values(ejse.data('charachters')).forEach(value=> { %>
                    <tr>
                        <td scope="row"><%= value.characterName%></td>
                        <td><%= value.charachterId%></td>
                        <td><%= value.serverId%></td>
                        <td><%= value.accountId%></td>
                        <td><button class="btn btn-primary" onclick="">delete</button></td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
            <div class="container" style="background: #262626">
                <div class="row text-center">
                    <div class="col-lg-5">
                        <button class="btn btn-primary" onclick="">new</button>
                    </div>
                    <div class="col-lg-6">
                        <button class="btn btn-primary" onclick="">save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>