<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Grider</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="<%= nodeModulesUrl + '/bootstrap/dist/css/bootstrap.min.css'%>" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="<%= cssUrl + '/main.css'%>"/>
    <!-- Bootstrap Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script>let $ = require('jquery');</script>
    <script>require('popper');</script>
    <script>require('bootstrap');</script>
    <script defer src="render.js"></script>
</head>

<body>
    <div class="wrapper">
        <%- include(sidebarUrl, {active: 'charachters' }) %>
        <div class="bodyRightView">
            <div class="accountFormsContainer">
                <div class="form-group">
                    <label for="accountId">accountId</label>
                    <select id="accountId" class="form-control">
                        <% Object.keys(ejse.data('accounts')).forEach(key=> { let value=ejse.data('accounts')[key]%>
                        <option value="<%= key%>"><%= key%></option>
                        <% })%>
                    </select>
                </div>                
                <div class="form-group">
                    <label for="serverId">serverId</label>
                    <input type="text" class="form-control" id="serverId" placeholder="Enter serverId">
                </div>
                <div class="form-group">
                    <label for="charachterId">charachterId</label>
                    <input type="text" class="form-control" id="charachterId" placeholder="Enter charachterId">
                </div>
                <div class="form-group">
                    <label for="charachterName">charachterName</label>
                    <input type="text" class="form-control" id="charachterName" placeholder="Password">
                </div>
                <div class="managerBottomButtonsBar">
                    <button class="btn btn-primary" onclick="createCharachter()">Confirm</button>
                    <a href="<%=accountUrls.manageCharactersUrl%>"><button class="btn btn-primary">Cancel</button></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>