<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Grider</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="<%= nodeModulesUrl + '/bootstrap/dist/css/bootstrap.min.css'%>" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="<%= cssUrl + '/main.css'%>"/>
    <!-- Bootstrap Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script>let $ = require('jquery');</script>
    <script>require('popper');</script>
    <script>require('bootstrap');</script>
    <script defer src="render.js"></script>
</head>

<body>
    <div class="wrapper">
        <%- include(sidebarUrl, {active: 'paths'}) %>
        <div class="bodyRightView">
            <div class="accountFormsContainer">
                <div class="form-group">
                    <label for="pathName">name</label>
                    <input type="text" class="form-control" id="pathName" placeholder="Enter entry id">
                </div>
                <div class="form-group">
                    <label for="pathType">type</label>
                    <select id="pathType">
                        <% Object.keys(ejse.data('pathTypes')).forEach(pathType => { %>
                        <option value="<%=pathType%>"><%=pathType%></option>
                        <% }) %>
                    </select>
                </div>
                <div class="form-group">
                    <label for="fightOnly">fightOnly</label>
                    <input type="checkbox" class="form-control" id="fightOnly">
                </div>                
                <div class="form-group">
                    <label for="monsterLvlCoefDiff">monsterLvlCoefDiff</label>
                    <input type="number" class="form-control" id="monsterLvlCoefDiff" placeholder="Enter monsterLvlCoefDiff">
                </div>
                <div class="form-group">
                    <div>
                        <select id="leftValues" size="5" multiple></select>
                    </div>
                    <div>
                        <input type="button" id="btnLeft" value="&lt;&lt;" />
                        <input type="button" id="btnRight" value="&gt;&gt;" />
                    </div>
                    <div>
                        <select id="rightValues" size="4" multiple>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                        <div>
                            <input type="text" id="txtRight" />
                        </div>
                    </div>
                </div>
                <div class="managerBottomButtonsBar">
                    <button class="btn btn-primary" onclick="createPath()">confirm</button>
                    <a href="<%=accountUrls.managePathsUrl%>"><button class="btn btn-primary">cancel</button></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>