<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8" />
        <title>Grider</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="<%= nodeModulesUrl + '/bootstrap/dist/css/bootstrap.min.css'%>" />
        <!-- Custom CSS -->
        <link rel="stylesheet" href="<%= cssUrl + '/main.css'%>"/>
        <!-- Bootstrap Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script>let $ = require('jquery');</script>
        <script>require('popper');</script>
        <script>require('bootstrap');</script>
        <script defer src="render.js"></script>
    </head>

<body>
    <div class="wrapper">
        <%- include(sidebarUrl, {active: 'paths'}) %>
        <div class="bodyRightView">
            <table class="table table-dark table-striped" style="margin-bottom: 0;">
                <thead>
                    <th scope="col">name</th>
                    <th scope="col">type</th>
                    <th scope="col">subAreaId</th>
                    <th scope="col">startMapId</th>
                    <th scope="col">startMapRpZone</th>
                    <th scope="col">action</th>
                </thead>
                <tbody>
                    <% Object.entries(paths.pathsDB).forEach(([key, path])=> {%>
                    <tr>
                        <td scope="row"><%=path.name%></td>
                        <td><%=path.type%></td>
                        <td><%=path.subAreaId%></td>
                        <td><%=path.startVertex.mapId%></td>
                        <td><%=path.startVertex.mapRpZone%></td>
                        <td>
                            <div class="dropdown">
                                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                  <li><a class="dropdown-item" href="#" onclick="editPath('<%= key%>')">edit</a></li>
                                  <li><a class="dropdown-item" href="#" onclick="deletePath('<%= key%>')">delete</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
            <div class="managerBottomButtonsBar">
                <a href="<%=paths.urls.newPathUrl%>"><button class="btn btn-primary" >new</button></a>
                <button class="btn btn-primary" onclick="savePaths()">save</button>
            </div>
        </div>
    </div>
</body>

</html>