<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Grinder</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="<%= nodeModulesUrl + '/bootstrap/dist/css/bootstrap.min.css'%>" />
    <link rel="stylesheet" href="<%= nodeModulesUrl + '/fontawesome-free/css/all.min.css'%>" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="<%= cssUrl + '/main.css'%>"/>
    <!-- Bootstrap Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script>let $ = require('jquery');</script>
    <script>require('popper');</script>
    <script>require('bootstrap');</script>
    <script src="render.js"></script>
</head>

<body>
    <div class="wrapper">
        <%- include(sidebarUrl, {active: 'sessions'}) %>
        <% var curr = sessions.currentEditedSession %>
        <% var currLeader = curr ? accounts.charactersDB[curr.leaderId] : null %>
        <% var currSeller = curr ? accounts.charactersDB[curr.sellerId] : null %>
        <% var currUnloadType = curr && curr.unloadType ? curr.unloadType : 'seller' %>
        <% var otherUnloadType = currUnloadType == 'seller' ? 'bank' : 'seller' %>
        <div class="bodyRightView">
            <div class="pathsFormsContainer">
                <h>Session config</h>
                <div class="myform-group">
                    <label for="name">name : </label>
                    <input class="myfg-input form-control" type="text" id="name" value='<%= curr ? curr.name : ""%>'>
                </div>
                <div class="myform-group">
                    <label for="path">path : </label>
                    <select class="myfg-input form-select" id="path" value='<%=curr ? curr.pathId : ""%>'>
                        <% Object.keys(paths.pathsDB).forEach(key => { %>
                        <option value="<%=key%>"><%=key%></option>
                        <% }) %>
                    </select>
                </div>
                <div class="myform-group">
                    <label for="sessionType">type : </label>
                    <label id="sessionType" class="myfg-input" value="fight">fight</label>
                </div>              
                <div class="myform-group">
                    <label for="monsterLvlCoefDiff">monsterLvlCoefDiff : </label>
                    <input class="myfg-input form-control" type="number" id="monsterLvlCoefDiff" value="<%= curr ? curr.monsterLvlCoefDiff : 5 %>">
                </div>
                <div class="myform-group">
                    <label for="leader">leader : </label>
                    <select id="leader" onchange="onLeaderChange()" class="myfg-input form-select" value="<%= JSON.stringify(currLeader) %>">
                        <% if (currLeader) { %>
                            <option value="<%= JSON.stringify(currLeader) %>" selected><%= accounts.getCharLabel(currLeader) %></option>
                        <% } else { %> 
                            <option selected id="leader_ph">Select a leader for the group</option>
                        <% } %> 
                        <% Object.entries(accounts.charactersDB).forEach(([key, ch]) => { %>
                        <option value="<%= JSON.stringify(ch) %>"><%= accounts.getCharLabel(ch) %></option>
                        <% }) %>
                    </select>
                </div>
                <div class="myform-group">
                    <label>followers : </label>
                    <div class="myfg-input">
                        <div class="mylist-select-and-button">
                            <select id="follower" class="form-select"></select>
                            <input type='button' class="bi bi-plus" value='+' id='addFollower' onclick="addFollower()"/>
                        </div>
                        <ul class="list-group" id='followers'></ul>
                    </div>
                    
                </div>
                <div class="myform-group">
                    <label for="unloadType">unload type : </label>
                    <select id="unloadType" onchange="onUnloadTypeChange()" class="myfg-input form-select" value="<%= currUnloadType %>">
                        <option selected value="<%= currUnloadType %>"><%= currUnloadType %></option>
                        <option value="<%= otherUnloadType %>"><%= otherUnloadType %></option>
                    </select>
                </div>
                <div class="myform-group" id="sellerDiv">
                    <label for="seller">seller : </label>
                    <select id="seller" onchange="onSellerChange()" class="myfg-input form-select" value="<%= JSON.stringify(currSeller) %>"></select>
                </div>
                <div class="managerBottomButtonsBar">
                    <button class="btn btn-primary" onclick="createSession()">confirm</button>
                    <button class="btn btn-primary" onclick="cancelCreateSession()">cancel</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        initFightSessionForm();
    </script>
</body>
</html>