<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Grider</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="<%= nodeModulesUrl + '/bootstrap/dist/css/bootstrap.min.css'%>" />
        <link rel="stylesheet" href="<%= nodeModulesUrl + '/fontawesome-free/css/all.min.css'%>" />
        <!-- Custom CSS -->
        <link rel="stylesheet" href="<%= cssUrl + '/main.css'%>"/>
        <!-- Bootstrap Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script>let $ = require('jquery');</script>
        <script>require('popper');</script>
        <script>require('bootstrap');</script>
        <script defer src="render.js"></script>
    </head>

<body>
    <div class="wrapper">
        <%- include(sidebarUrl, {active: 'characters' }) %>
        <div class="bodyRightView" id="accountsView">
            <ul class="nav nav-tabs" style="background: #262626">
                <li class="nav-item"><a class="nav-link" aria-current="page" onclick="switchToCharactersView()">Characters</a></li>
                <li class="nav-item"><a class="nav-link active" aria-current="page" onclick="switchToAccountsView()">Accounts</a></li>
            </ul>
            <table class="table table-dark table-striped" style="margin-bottom: 0;">
                <thead>
                    <th scope="col">entryId</th>
                    <th scope="col">login</th>
                    <th scope="col">API Key status</th>
                    <th scope="col">password</th>
                    <th scope="col">action</th>
                </thead>
                <tbody>
                    <% Object.entries(accounts.accountsDB).forEach(([key, account]) => {%>
                    <% var expiration_date = new Date(accounts.apiKeysDB[key].expiration_date) %>
                    <% var expired = expiration_date < Date.now() %>
                    <% makeShortDate=(date)=>{
                        yy=date.getFullYear()
                        mm=date.getMonth()
                        dd=date.getDate()
                        hh=date.getHours()
                        min=date.getMinutes()
                        shortDate=`${yy}/${(mm<10)?0:''}${mm+1}/${(dd<10)?0:''}${dd} ${hh}:${min}`;
                        return shortDate;
                        }
                    %>
                    <tr id=<%= `account-${key}` %>>
                        <td scope="row"><%= key%></td>
                        <td><%= account.login %></td>
                        <td><% if (expired) { %><span style="color: red;">expired <%= makeShortDate(expiration_date) %></span><%} else { %><span style="color: green;">valid until <%= makeShortDate(expiration_date) %></span><% } %></td>
                        <td><text id=<%= `${key}-password` %>><%= accounts.accountsPasswords[key] %></text><i class="far fa-eye" id=<%=`${key}-togglePwd`%> style="margin-left: 10px; cursor: pointer;" onclick="hideUnhidePassword('<%= key%>')"></i></td>
                        <td>
                            <div class="dropdown">
                                <i class='fa fa-ellipsis-v' role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"></i>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                  <li><a class="dropdown-item" style="cursor: pointer;" onclick="editAccount('<%= key %>')"><i class="fas fa-edit" style="margin-left: -5px;"></i>  edit</a></li>
                                  <li><a class="dropdown-item" style="cursor: pointer;" onclick="deleteAccount('<%= key %>')"><i class="fas fa-trash-alt" style="margin-left: -5px;"></i>  delete</a></li>
                                  <li><a class="dropdown-item" style="cursor: pointer;" onclick="fetchCharacters('<%= key %>')"><i class="fas fa-sync-alt" style="margin-left: -5px;"></i>  import characters</a></li>
                                  <li><a class="dropdown-item" style="cursor: pointer;" onclick="fetchAPIKey('<%= key %>')"><i class="fas fa-key" style="margin-left: -5px;"></i>  fetch API Key</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
            <div class="managerBottomButtonsBar">
                <a href="<%=accounts.urls.newAccountUrl%>"><button class="btn btn-primary" >new</button></a>
                <button class="btn btn-primary" onclick="saveAccounts()">save</button>
            </div>
        </div>
        <div class="bodyRightView" id="charactersView" style="display: none;">
            <ul class="nav nav-tabs" style="background: #262626">
                <li class="nav-item"><a class="nav-link active" aria-current="page" onclick="switchToCharactersView()">Characters</a></li>
                <li class="nav-item"><a class="nav-link" aria-current="page" onclick="switchToAccountsView()">Accounts</a></li>
            </ul>
            <table class="table table-dark table-striped" style="margin-bottom: 0;">
                <thead>
                    <th scope="col">Name</th>
                    <th scope="col">Level</th>
                    <th scope="col">Server</th>
                    <th scope="col">Account</th>
                    <th scope="col">Breed</th>
                    <th scope="col">Action</th>
                </thead>
                <tbody id="accountsTableBody">
                    <% Object.values(accounts.charactersDB).forEach(character => { %>
                    <tr id="<%= character.id %>">
                        <td scope="row"><%=character.name%></td>
                        <td><%= character.level %></td>
                        <td><%= character.serverName %></td>
                        <td><%= character.accountId %></td>
                        <td><%= character.breedName %></td>
                        <td>
                            <div class="dropdown">
                                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                  <li><a class="dropdown-item" onclick="goToCharacterProfile('<%= character.id %>')">edit</a></li>
                                  <li><a class="dropdown-item" href="#" onclick="deleteCharacter('<%= character.id %>')">delete</a></li>
                                  <li><a class="dropdown-item" href="#" onclick="">run</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
            <div class="managerBottomButtonsBar">
                <a href="<%=accounts.urls.newCharacterUrl%>"><button class="btn btn-primary" >new</button></a>
                <button class="btn btn-primary" onclick="saveCharacters()">save</button>
                <button class="btn btn-primary" onclick="clearCharacters()">clear</button>
            </div>
        </div>
    </div>
</body>

</html>