<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Grider</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="<%= nodeModulesUrl + '/bootstrap/dist/css/bootstrap.min.css'%>" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="<%= cssUrl + '/main.css'%>"/>
    <!-- Bootstrap Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script>let $ = require('jquery');</script>
    <script>require('popper');</script>
    <script>require('bootstrap');</script>
    <script defer src="render.js"></script>
</head>

<body>
    <div class="wrapper">
        <%- include(sidebarUrl, {active: 'sessions'}) %>
        <div class="bodyRightView">
            <div class="pathsFormsContainer">
                <div class="myform-group">
                    <label for="name">name : </label>
                    <input type="text" id="name" value='<%=sessions.currentEditedSession ? sessions.currentEditedSession.name : ""%>'>
                </div>
                <div class="myform-group">
                    <label for="characterId">characterId : </label>
                    <select id="characterId" value='<%=sessions.currentEditedSession ? sessions.currentEditedSession.characterId : ""%>'>
                        <% Object.keys(characters).forEach(key => { %>
                        <option value="<%=key%>"><%=key%></option>
                        <% }) %>
                    </select>
                </div>
                <div class="myform-group">
                    <label for="spellId">spellId : </label>
                    <input type="number" id="spellId" value='<%=sessions.currentEditedSession ? sessions.currentEditedSession.spellId : ""%>'>
                </div>
                <div class="myform-group">
                    <label for="pathId">pathId : </label>
                    <select id="pathId" value='<%=sessions.currentEditedSession ? sessions.currentEditedSession.pathId : ""%>'>
                        <% Object.keys(sessions.sessionsDB).forEach(key => { %>
                        <option value="<%=key%>"><%=key%></option>
                        <% }) %>
                    </select>
                </div>
                <div class="myform-group">
                    <label for="statToUp">statToUp : </label>
                    <input type="number" id="statToUp" value='<%=sessions.currentEditedSession ? sessions.currentEditedSession.statToUp : ""%>'>
                </div>      
                <div class="managerBottomButtonsBar">
                    <button class="btn btn-primary" onclick="createSession()">confirm</button>
                    <button class="btn btn-primary" onclick="cancelCreateSession()">cancel</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>