<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8" />
        <title>Grinder</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="<%= nodeModulesUrl + '/bootstrap/dist/css/bootstrap.min.css' %>" />
        <link rel="stylesheet" href="<%= nodeModulesUrl + '/fontawesome-free/css/all.min.css' %>" />
        <!-- Custom CSS -->
        <link rel="stylesheet" href="<%= cssUrl + '/main.css' %>"/>
        <!-- Bootstrap Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script>let $ = require('jquery');</script>
        <script>require('popper');</script>
        <script>require('bootstrap');</script>
        <script defer src="render.js"></script>
    </head>

<body>
    <div class="wrapper">
        <%- include(sidebarUrl, {active: 'sessions'}) %>
        <div class="bodyRightView">
            <table class="table table-dark table-striped" style="margin-bottom: 0;">
                <thead>
                    <th scope="col">name</th>
                    <th scope="col">path</th>
                    <th scope="col">type</th>
                    <th scope="col">status</th>
                    <th scope="col">action</th>
                </thead>
                <tbody>
                    <% Object.entries(sessions.sessionsDB).forEach(([key, session])=> {%>
                    <tr id="<%= `session-${key}` %>">
                        <td scope="row"><%= key %></td>
                        <td><%= session.path %></td>
                        <td><%= session.type %></td>
                        <td id=<%= `session-status-${key}` %>><%= session.isRunning ? 'started' : 'idle' %></td>
                        <td>
                            <div class="dropdown">
                                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"></a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li><a class="dropdown-item" href="#" onclick="editSession('<%= key %>')"><i class="fas fa-edit" style="margin-left: -5px;"></i>  edit</a></li>
                                    <li><a class="dropdown-item" href="#" onclick="deleteSession('<%= key %>')"><i class="fas fa-trash-alt" style="margin-left: -5px;"></i>  delete</a></li>
                                    <% if (session.isRunning) {%>
                                        <li><a class="dropdown-item" href="#" onclick="stopSession('<%= key %>')" id=<%= `runstop_session-${key}` %>><i class="fas fa-stop" style="margin-left: -5px;"></i>  stop</a></li>
                                    <% } else {%>
                                        <li><a class="dropdown-item" href="#" onclick="runSession('<%= key %>')" id=<%= `runstop_session-${key}` %>><i class="fas fa-play" style="margin-left: -5px;"></i>  run</a></li>
                                    <% } %>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
            <div class="managerBottomButtonsBar">
                <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">new</a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" href="<%=sessions.urls.farmSessionFormUrl%>"><img src="../images/226.png" height="30px" width="30px"></img>  farm session</a></li>
                    <li><a class="dropdown-item" href="<%=sessions.urls.fightSessionFormUrl%>"><img src="../images/227.png" height="30px" width="30px"></img>  fight session</a></li>
                </ul>
                <button class="btn btn-primary" onclick="saveSessions()">save</button>
            </div>
        </div>
    </div>
</body>

</html>