<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8" />
        <title>Grider</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="<%= nodeModulesUrl + '/bootstrap/dist/css/bootstrap.min.css'%>" />
        <!-- Custom CSS -->
        <link rel="stylesheet" href="<%= cssUrl + '/main.css'%>"/>
        <!-- Bootstrap Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script>let $ = require('jquery');</script>
        <script>require('popper');</script>
        <script>require('bootstrap');</script>
        <script defer src="render.js"></script>
    </head>

<body>
    <div class="wrapper">
        <%- include(sidebarUrl, {active: 'sessions'}) %>
        <div class="bodyRightView">
            <table class="table table-dark table-striped" style="margin-bottom: 0;">
                <thead>
                    <th scope="col">name</th>
                    <th scope="col">path</th>
                    <th scope="col">type</th>
                    <th scope="col">status</th>
                    <th scope="col">action</th>
                </thead>
                <tbody>
                    <% Object.entries(sessions.sessionsDB).forEach(([key, session])=> {%>
                    <tr>
                        <td scope="row"><%=session.name%></td>
                        <td><%=session.path%></td>
                        <td><%=session.type%></td>
                        <% if (runningInstances[key]) {%>
                            <td>running</td>
                        <% } else {%>
                            <td>idle</td>
                        <% } %>
                        <td>
                            <div class="dropdown">
                                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li><a class="dropdown-item" href="#" onclick="editSession('<%=key%>')">edit</a></li>
                                    <li><a class="dropdown-item" href="#" onclick="deleteSession('<%=key%>')">delete</a></li>
                                    <% if (runningInstances[key]) {%>
                                        <li><a class="dropdown-item" href="#" onclick="stopSession('<%=key%>')">stop</a></li>
                                    <% } else {%>
                                        <li><a class="dropdown-item" href="#" onclick="runSession('<%=key%>')">run</a></li>
                                    <% } %>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
            <div class="managerBottomButtonsBar">
                <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">new</a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" href="<%=sessions.urls.farmSessionFormUrl%>">farmSession</a></li>
                    <li><a class="dropdown-item" href="<%=sessions.urls.fightSessionFormUrl%>">fightSession</a></li>
                </ul>
                <button class="btn btn-primary" onclick="saveSessions()">save</button>
            </div>
        </div>
    </div>
</body>

</html>